.cell {
  height: inherit;
}

.row {
  width: 500px;
  display: flex;
}

.visualization {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}
